.body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #f7be4d;
}
.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0 0.5rem 0;
    text-align: center;
}
.title.earth {
    background-color: rgb(133, 120, 214);
}
.title.mercury {
    background-color: #797979;
}
.title.venus {
    background-color: #fce8a7;
}
.title.mars {
    background-color: #ce4d37;
}
.title.saturn {
    background-color: #cca86f;
}
.title.jupiter {
    background-color: #ce8a4e;
}
.title.uranus {
    background-color: #5fbcd5;
}
.title.neptune {
    background-color: #2b60c2;
}
.title-text {
    font-size: 4em;
    margin-bottom: 0;
    line-height: 1.2em;
}
.title-b-text {
    font-size: 2.5em;
    font-weight: lighter;
    margin-bottom: 0;
}
.container0 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.container1 {
    width: 100%;
    min-height: 750px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
}
.info-container {
    height: auto;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7be4d;
    padding: 4em;
}
.info-title {
    margin-bottom: 0.8rem;
}
.text {
    font-size: 1.2rem;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    height: auto;
    background-color: #f7be4d;
}
.img-container.mercury, .img-container.venus,.img-container.mars,.img-container.earth,.img-container.saturn,.img-container.uranus {
    background-color: black;
}
.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #808080;
}
.footer p{
    margin: 0;
    font-size: 1.5rem;
}
@media screen and (max-width:600px) {
    .container1 {
        height: auto;
    }
    .text {
        font-size: 1rem;
    }
    .title-text {
        font-size: 3rem;
    }
    .title-b-text {
        font-size: 2rem;
    }
     .info {
        padding: 3em 1em 3em 1em;
     }
}
@media screen and (max-width:1200px) {
    .info-container {
        flex: 100%;
        max-height: 100vh;
    }
    .img-container {
        flex: 100%;
        max-height: 100vh;
    }
    .reverse .info-container {
        order: 2;
    }
    .reverse .img-container {
        order: 1;
    }
}

@media screen and (min-width:2400px) {

    body,html {
        font-size:20px;
    }

}

@media screen and (min-width:3000px) {
    body,html {
        font-size:30px;
    }
}